.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0px;
}

.header__logo {
  width: 92px;
  height: 42px;
}

.header__menu {
  max-width: 450px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  justify-content: space-between;
  max-width: 276px;
  width: 100%;
  padding: 0px;
  list-style: none;
}

.header__link {
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  color: var(--black-color);
}

.header__mobile-menu {
  display: none;
}

@media screen and (max-width: 700px) {
  .header__menu {
    display: none;
  }
  .header__mobile-menu {
    display: flex;
  }
}
