.mobile-menu {
  display: none;
  background-color: var(--white-color);
  position: absolute;
  top: 35px;
  right: 13%;
  padding: 150px 60px;
  border: 2px solid var(--black-color);
  z-index: 2;
}

.mobile-menu__list {
  list-style: none;
  padding: 0px;
  height: 228px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* .mobile-menu__item {
} */

.mobile-menu__link {
  text-decoration: none;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  color: var(--black-color);
}

.mobile-menu__link_active {
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .mobile-menu {
    display: flex;
  }
}
